/* Global reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #f5deb3; /* Lighter wheat color */
    font-family: 'Arial', sans-serif;
}

/* Section 1 styles */
.sec1con {
    padding: 50px 0;
    text-align: center;
}

.secimg1 {
    width: 100%;
    max-width: 600px;
    margin: 1 auto;
    padding-top: 65px;
}

h1, p {
    color: #333;
    margin-bottom: 20px;
    transition: color 0.3s;

}

h1:hover, p:hover {
    color: #007bff; /* Blue color on hover */
}

/* Section 2 styles */
.section1, .section2 {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.section2 img {
    max-width: 90%;
    height: auto;
    margin: 0 30px;
    transition: transform 0.3s; 
}

.zoom {
    padding: 50px;
    background-color: #32cd32; /* Light green background */
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%; /* Circular shape */
}

.zoom:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

button:hover {
    background-color: #0056b3; 
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Card styles */
.cardsec2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    text-align: center;
}

.cardsec2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s; 
}

.cardsec2 img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

/* Section 3 styles */
.section3 {
    text-align: center;
    margin-bottom: 50px;
}

.section3 h1 {
    color: #333;
    margin-bottom: 20px;
    transition: color 0.3s; /* Smooth color transition */
}

.section3 h1:hover {
    color: #007bff; /* Blue color on hover */
}
